In [2]:
# import datetime class from datetime module
from datetime import datetime

In [3]:
# get current date
datetime_object = datetime.now()

print(datetime_object)
print('Type :- ',type(datetime_object))

2020-02-20 08:32:45.704292
Type :-  <class 'datetime.datetime'>

In [50]:
my_string = '2020-02-20'

# Create date object in given time format yyyy-mm-dd
my_date = datetime.strptime(my_string, "%Y-%m-%d")

print(my_date)
print('Type: ',type(my_date))

2020-02-20 00:00:00
Type:  <class 'datetime.datetime'>

In [51]:
type(my_string)

str

In [52]:
print('Month: ', my_date.month) # To Get month from date
print('Year: ', my_date.year) # To Get month from year

Month:  2
Year:  2020

In [53]:
import calendar

print('Day of Month:', my_date.day)

# to get name of day(in number) from date
print('Day of Week (In number): ', my_date.weekday())

# to get name of day from date
print('Day of Week (name): ', calendar.day_name[my_date.weekday()])

Day of Month: 20
Day of Week (IN number):  3
Day of Week (name):  Thursday

In [54]:
j = 0
for i in calendar.day_name:
    print(j,'-',i)
    j+=1

0 - Monday
1 - Tuesday
2 - Wednesday
3 - Thursday
4 - Friday
5 - Saturday
6 - Sunday

Getting Hours and Minutes From a Python Datetime Object

In [59]:
from datetime import datetime
todays_date = datetime.now()


print('todays date : ', str(todays_date))
# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

# to get second from datetime
print('Second: ', todays_date.second)

todays date :  2020-02-20 09:04:38.557868
Hour:  9
Minute:  4
Second:  38

In [60]:
# Return a 3-tuple, (ISO year, ISO week number, ISO weekday).
todays_date.isocalendar()    # International Standard ORganization    # interview question

(2020, 8, 4)

In [61]:
todays_date.isocalendar()[1]    #We can see from the above that this is the 3rd week of the year

8

In [62]:
todays_date.isocalendar()[0] # Year extraction from a tuple

2020

In [63]:
todays_date.isocalendar()[2] # extraction of the weekday

4

Date with time

In [66]:
#import datetime
from datetime import datetime

# get current date
now = datetime.now()

# convert current date into timestamp
ts = datetime.timestamp(now)

print("Date and Time :", now)
print("Timestamp:", ts)   #1582170209.904099

Date and Time : 2020-02-20 09:14:31.585110
Timestamp: 1582170271.58511

In [67]:
# Convert string to datetime

#import datetime
from datetime import datetime

timestamp = 1582170271.58511

#convert timestamp to datetime object
dt_object = datetime.fromtimestamp(timestamp)

print("dt_object:", dt_object)
print("type(dt_object): ", type(dt_object))

dt_object: 2020-02-20 09:14:31.585110
type(dt_object):  <class 'datetime.datetime'>

In [ ]:
# Measuring Time Span with Timedelta Objects

In [68]:
#import datetime
from datetime import timedelta

# create timedelta object with difference of 2 weeks
d = timedelta(weeks=2)

print(d)
print(type(d))
print(d.days)

14 days, 0:00:00
<class 'datetime.timedelta'>
14

In [69]:
year = timedelta(days=365)
print(year)

365 days, 0:00:00

# Operations using delta on dates

In [74]:
#import datetime
from datetime import datetime, timedelta

# get current time
now = datetime.now()
print ("Today's date: ", str(now))

#add 15 days to current date
future_date_after_14days = now + timedelta(days = 14)
print('Date after 14 days: ', future_date_after_14days)

#subtract 2 weeks from current date
two_weeks_ago = now - timedelta(weeks = 2)
print('Date two weeks ago: ', two_weeks_ago)
print('two_weeks_ago object type: ', type(two_weeks_ago))

#subtract 2 years from current date
two_years_ago = now - timedelta(days= 730)
print('Date two years ago: ', two_years_ago)
print('two_years_ago object type: ', type(two_years_ago))

Today's date:  2020-02-20 09:24:04.839742
Date after 14 days:  2020-03-05 09:24:04.839742
Date two weeks ago:  2020-02-06 09:24:04.839742
two_weeks_ago object type:  <class 'datetime.datetime'>
Date two years ago:  2018-02-20 09:24:04.839742
two_years_ago object type:  <class 'datetime.datetime'>

In [ ]:
# Find the Difference Between Two Dates and Times

In [78]:
# import datetime
from datetime import date

# Create two dates
date1 = date(2020, 2, 20)
date2 = date(2020, 2, 20)

# Difference between two dates
delta = date2 - date1

print("Difference: ", delta.days)
print('delta object type: ', type(delta))

Difference:  0
delta object type:  <class 'datetime.timedelta'>

In [79]:
# import datetime
from datetime import datetime

# create two dates with year, month, day, hour, minute, and second
date1 = datetime(2017, 6, 21, 18, 25, 30)
date2 = datetime(2017, 5, 16, 8, 21, 10)

print('date1 : ' + str(date1))
print('date2 : ' + str(date2))


# Difference between two dates
diff = date1-date2

print("Difference: ", diff)

date1 : 2017-06-21 18:25:30
date2 : 2017-05-16 08:21:10
Difference:  36 days, 10:04:20

In [ ]:
# Formatting Dates: More on strftime() and strptime()

In [80]:
# import datetime
from datetime import datetime

date_string = "1 August, 2019"

# format date
date_object = datetime.strptime(date_string, "%d %B, %Y")

print("date_object: ", date_object)
print(type(date_object))

date_object:  2019-08-01 00:00:00
<class 'datetime.datetime'>

In [83]:
# import datetime
from datetime import datetime

dt_string = "02/12/2020 09:39:32"
# Considering date is in dd/mm/yyyy format
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")
print("dt_object1:", dt_object1)

# Considering date is in mm/dd/yyyy format
dt_object2 = datetime.strptime(dt_string, "%m/%d/%Y %H:%M:%S")
print("dt_object2:", dt_object2)

# Convert dt_object2 to Unix Timestamp
timestamp = datetime.timestamp(dt_object2)
print('Timestamp: ', timestamp)

# Convert back into datetime
date_time = datetime.fromtimestamp(timestamp)

d = date_time.strftime("%c")
print("Output 1:", d)
print(type(d))

d = date_time.strftime("%x")
print("Output 2:", d)
print(type(d))

d = date_time.strftime("%X")
print("Output 3:", d)
print(type(d))

dt_object1: 2020-12-02 09:39:32
dt_object2: 2020-02-12 09:39:32
Timestamp:  1581480572.0
Output 1: Wed Feb 12 09:39:32 2020
<class 'str'>
Output 2: 02/12/20
<class 'str'>
Output 3: 09:39:32
<class 'str'>

In [24]:
# current date and time
now = datetime.now()

# get year from date
year = now.strftime("%Y")
print("Year:", year)

# get month from date
month = now.strftime("%m")
print("Month;", month)

# get day from date
day = now.strftime("%d")
print("Day:", day)

# format time in HH:MM:SS
time = now.strftime("%H:%M:%S")
print("Time:", time)

# format date
date_time = now.strftime("%m/%d/%Y, %H:%M:%S")
print("Date and Time:",date_time)

Year: 2020
Month; 01
Day: 16
Time: 11:53:29
Date and Time: 01/16/2020, 11:53:29

Handling Timezones

In [91]:
#import timezone from pytz module
from pytz import timezone

# Convert localized date into Asia/Kolkata timezone
# Localize date
kolkata = timezone("Asia/Kolkata")
loc_dt = kolkata.localize(datetime(2020, 2, 20, 10, 0, 0))
print('Asia : ' + str(loc_dt.astimezone(kolkata)))

# Create timezone US/Eastern
east = timezone('US/Eastern')
print('US: ' + str(loc_dt.astimezone(east)))
 


# Convert localized date into Australia/Sydney timezone
au_tz = timezone('Australia/Sydney')
print(loc_dt.astimezone(au_tz))

Asia : 2020-02-20 10:00:00+05:30
US: 2020-02-19 23:30:00-05:00
2020-02-20 15:30:00+11:00

Working with pandas Datetime Objects

 We can convert date, time, and duration text strings into pandas Datetime objects using these functions:

    to_datetime(): Converts string dates and times into Python datetime objects.
    to_timedelta(): Finds differences in times in terms of days, hours, minutes, and seconds.

In [92]:
# import pandas module as pd
import pandas as pd

# create date object using to_datetime() function
date = pd.to_datetime("8th of sep, 2019")  # Note that even though we gave it a string with some complicating factors like a “th” and “sep” rather than “Sep.” or “September”, pandas was able to correctly parse the string and return a formatted date.
print(date)

2019-09-08 00:00:00

In [39]:
pd.to_datetime?

In [93]:
date = pd.to_datetime("12/1/2020") 
print('1  = ' + str(date)) # Can not print date and string together so we need to convert date into str and then concatanate with other string

date = pd.to_datetime("12/1/2020",dayfirst=True)
print('2  = ' + str(date))


date = pd.to_datetime("12/1/2020", format='%d/%m/%Y')
print('3  = ' + str(date))

date = pd.to_datetime("12/1/2020", format='%m/%d/%Y')
print('3.1 = ' + str(date))

date = pd.to_datetime("12-Mar-2019")
print('4  = ' + str(date))

date = pd.to_datetime("1-April-20")
print('5  = ' + str(date))

1  = 2020-12-01 00:00:00
2  = 2020-01-12 00:00:00
3  = 2020-01-12 00:00:00
3.1 = 2020-12-01 00:00:00
4  = 2019-03-12 00:00:00
5  = 2020-04-01 00:00:00

In [48]:
np.arange(12)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [100]:
# Create date series using numpy and to_timedelta() function
import numpy as np
date = pd.to_datetime("1-April-20")
date_series = date + pd.to_timedelta(np.arange(12), 'D')
print(date_series)

#  Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

#  Create date series using date_range() function
date_series = pd.date_range('1/20/20', periods = 13, freq ='M')
print(date_series)

#  Create date series using date_range() function
date_series = pd.date_range('1/20/20', periods = 12, freq ='Y')
print(date_series)

#  Create date series using date_range() function
date_series = pd.date_range('1/20/20', periods = 12, freq ='Y')
print(date_series)

DatetimeIndex([], dtype='datetime64[ns]', freq=None)
DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
DatetimeIndex(['2020-12-31', '2021-12-31', '2022-12-31', '2023-12-31',
               '2024-12-31', '2025-12-31', '2026-12-31', '2027-12-31',
               '2028-12-31', '2029-12-31', '2030-12-31', '2031-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

Get Year, Month, Day, Hour, Minute in pandas

In [102]:

#  Create date series using date_range() function
date_series = pd.date_range('08/10/2019', periods = 12, freq ='D')
print(date_series)

# Create a DataFrame with one column date
df = pd.DataFrame()
print(df)
df['date'] = date_series
df.head(12)

DatetimeIndex(['2019-08-10', '2019-08-11', '2019-08-12', '2019-08-13',
               '2019-08-14', '2019-08-15', '2019-08-16', '2019-08-17',
               '2019-08-18', '2019-08-19', '2019-08-20', '2019-08-21'],
              dtype='datetime64[ns]', freq='D')
Empty DataFrame
Columns: []
Index: []

         date
0  2019-08-10
1  2019-08-11
2  2019-08-12
3  2019-08-13
4  2019-08-14
5  2019-08-15
6  2019-08-16
7  2019-08-17
8  2019-08-18
9  2019-08-19
10 2019-08-20
11 2019-08-21

In [103]:
# Extract year, month, day, hour, and minute. Assign all these date component to new column.
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['hour'] = df['date'].dt.hour
df['minute'] = df['date'].dt.minute
df.head()

        date  year  month  day  hour  minute
0 2019-08-10  2019      8   10     0       0
1 2019-08-11  2019      8   11     0       0
2 2019-08-12  2019      8   12     0       0
3 2019-08-13  2019      8   13     0       0
4 2019-08-14  2019      8   14     0       0

In [104]:
# get Weekday and Day of Year. Assign all these date component to new column.
df['weekday'] = df['date'].dt.weekday
df['day_name'] = df['date'].dt.weekday_name
df['dayofyear'] = df['date'].dt.dayofyear
df.head()

        date  year  month  day  hour  minute  weekday   day_name  dayofyear
0 2019-08-10  2019      8   10     0       0        5   Saturday        222
1 2019-08-11  2019      8   11     0       0        6     Sunday        223
2 2019-08-12  2019      8   12     0       0        0     Monday        224
3 2019-08-13  2019      8   13     0       0        1    Tuesday        225
4 2019-08-14  2019      8   14     0       0        2  Wednesday        226

Convert Date Object into DataFrame Index

In [115]:
type(df)

pandas.core.frame.DataFrame

In [117]:
df

,date,year,month,day,hour,minute,weekday,day_name,dayofyear
date,,,,,,,,,
2019-08-10,2019-08-10,2019,8,10,0,0,5,Saturday,222
2019-08-11,2019-08-11,2019,8,11,0,0,6,Sunday,223
2019-08-12,2019-08-12,2019,8,12,0,0,0,Monday,224
2019-08-13,2019-08-13,2019,8,13,0,0,1,Tuesday,225
2019-08-14,2019-08-14,2019,8,14,0,0,2,Wednesday,226
2019-08-15,2019-08-15,2019,8,15,0,0,3,Thursday,227
2019-08-16,2019-08-16,2019,8,16,0,0,4,Friday,228
2019-08-17,2019-08-17,2019,8,17,0,0,5,Saturday,229
2019-08-18,2019-08-18,2019,8,18,0,0,6,Sunday,230
2019-08-19,2019-08-19,2019,8,19,0,0,0,Monday,231
2019-08-20,2019-08-20,2019,8,20,0,0,1,Tuesday,232
2019-08-21,2019-08-21,2019,8,21,0,0,2,Wednesday,233

In [122]:
# Assign date column to dataframe index
df.index = df.date
df.head()
df.drop(columns='date',axis=1)
#df.set_index(df.date)
#df.head()

#df.reset_index(drop=True)

            year  month  day  hour  minute  weekday   day_name  dayofyear
date
2019-08-10  2019      8   10     0       0        5   Saturday        222
2019-08-11  2019      8   11     0       0        6     Sunday        223
2019-08-12  2019      8   12     0       0        0     Monday        224
2019-08-13  2019      8   13     0       0        1    Tuesday        225
2019-08-14  2019      8   14     0       0        2  Wednesday        226
2019-08-15  2019      8   15     0       0        3   Thursday        227
2019-08-16  2019      8   16     0       0        4     Friday        228
2019-08-17  2019      8   17     0       0        5   Saturday        229
2019-08-18  2019      8   18     0       0        6     Sunday        230
2019-08-19  2019      8   19     0       0        0     Monday        231
2019-08-20  2019      8   20     0       0        1    Tuesday        232
2019-08-21  2019      8   21     0       0        2  Wednesday        233

In [123]:
#Substraction of days, year, months
#while subtracting time your need to convert time into either minute, hours, our seconds

In [ ]:
import numpy as np
import pandas as pd

df=pd.DataFrame({
    'date1' : [pd.to_datetime('01/01/2020'),pd.to_datetime('01/02/2020'),pd.to_datetime('01/02/2020')],
    'day1'  : [1,2,3],
    'time1' : [140, 240, 250]
})

df

type(df)

type(df['date1'][0])

type(df['day1'][0])

type(df['time1'][0])

df['date2'] = df['date1'] + pd.to_timedelta(df['day1'], unit='d')


df

df['date2'] = df['date1'] - pd.to_timedelta(df['day1'], unit='d')

df

df['date3'] = df['date1'] - pd.to_timedelta(df['day1'], unit='h')

df

df['date3'] = df['date1'] - pd.to_timedelta(df['day1'], unit='m')

df

df['date3'] = df['date1'] - pd.to_timedelta(df['day1'], unit='s')

df['date3'] = df['date1'] - pd.to_timedelta(df['day1'], unit='h')

df['date4'] = df['date1'] - pd.to_timedelta(df['time1'], unit='s')

df['date4']